body, div, article, section, a, header, footer, h2, h3, nav, ul, li {
    margin: 0px;
    padding: 0px;
}
body{
    font-size: 16px;
    font-family: Tahoma;
    background: black;
}
a:hover, a:link, a:active, a:visited{
    text-decoration: underline;
    color: green;
    font-size: 0.7rem;
}
img{
    width: 100%;
}
.wrapper{
    width: 900px;
    margin: 0px auto;
    background: white;
}
nav{
    height: 40px;
    background: linear-gradient(to bottom, white 0%, lightgray 100%);
}
ul{
    margin: -3px 0px 0px 0px;
}
li{
    display: inline-block;
    width: 128px;
    height: 40px;
    color: black;
    line-height: 40px;
    text-align: center;
    border-right: 1px solid white;
}
li:hover{
    cursor: pointer;
    color: white;
    background: gray;
}
main{
    box-sizing: content-box;
    margin: 15px 20px 15px 20px;
    width: 660px;
    display: inline-block;
}
section{
    border-radius: 4px;
    border: 1px solid lightgray;
    box-sizing: border-box;
    padding: 15px 10px 10px 10px;
    margin: 0px 0px 15px 0px;
}
section > h2{
    color: #73B800;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0px 0px 15px 0px;
}
.freeProducts > article:after{
    content: "";
    clear: both;
    height: 0px;
    display: block;
}
.freeProducts > article{
    margin: 0px 0px 0px 0px;
}
article{
    font-size: 0.7rem;
}
.imgHolder{
    float: left;
    margin: 0px 10px 0px 0px;
    width: 150px;
    height: 150px;
}
article > h3{
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}
aside{
    width: 180px;
    float: right;
    vertical-align: top;
    display: inline-block;
    margin: 15px 20px 0px 0px;
}
aside > section:first-child{
    background: #F4F4F4;
}
aside .date{
    font-weight: bold;
}
aside article{
    margin-top: 15px;
}
footer {
    box-sizing: border-box;
    padding: 20px 0px 0px 100px;
    width: 900px;
    height: 100px;
    background: #A6DE43;
    font-size: 0.7rem;
}
footer > a:hover{
    color: black;
}
footer > a:active{
    color: black;
}
footer > a:link{
    color: black;
}
footer > a:visited{
    color: black;
}