button{
    width: 100%;
    height: 90px;
    color: blue;
}
.mainTbl{
    width: 400px;
    height: 500px;
}
.food{
    height: 80px;
}
.nesyButton{
    width: 100%;
    height: 40px;
}
.nesy{
    width: 100%;
}
.google{
    width: 180px;
}